$desktop: 1170px;
$bigTablet: 992px; // Планшеты, некоторые телефоны в горизонтальном положении
$tablet: 768px; // Телефоны L
$mobile: 480px; // Телефоны S

@media(max-width: $desktop) {}
@media(max-width: $bigTablet) {}
@media(max-width: $tablet) {}
@media(max-width: $mobile) {}