$desktop: 1169.98px;
$bigTablet: 991.98px; // Планшеты, некоторые телефоны в горизонтальном положении
$tablet: 767.98px; // Телефоны L
$mobile: 479.98px; // Телефоны S

@media(max-width: $desktop) {}
@media(max-width: $bigTablet) {}
@media(max-width: $tablet) {}
@media(max-width: $mobile) {}